html , body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration:none;
    scroll-behavior:smooth;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 10vh;
  width: 100%;
  text-decoration: none;
  background-color: white;
}
.bar{
  display: none;
}
.logo{
  background-image: url('./Assets/logo.jpg');
  background-size: cover;
  margin-left: 1vw;
  height: 7vh;
  width: 3.23vw;
}
.menu{
  display: flex;
}
.menuitem{
  margin-right: 20px;
  color: #081C6B;
  padding: 10px 15px;
  font-weight: bold;
}
.menuitem:hover{
  background-color: #DE08EC;
}

/* Home */
.home{
  height: 100vh;
  width: auto;
  display: flex;
}
.left-side{
  background-image: url('./Assets/coding_boy.png');
  background-size: cover;
  height: 65vh;
  width:20vw;
  background-repeat: no-repeat;
  margin-top: 25vh;
  margin-left: 9vw;
  padding-right: 30vw;
}
.right-side{
  color: white;
  padding-top: 45vh;
  padding-left: 20vw;
  padding-right: 8vw;
  font-size: 1.5rem;
  word-spacing: 2px;
  line-height: 6vh;
}
.name-effect{
  color: #DE08EC;
}
.name{
  color: #DE08EC;
  font-size: 1.1em;
  font-weight: bold;
}
.cursor{
  color: #DE08EC;
}

/* item */
.body{
  background-color: #090c31;
  height: 400vh;
  width: 100%;
}
/* contact */
.contact{
  width: 100%;
  height: 100vh;
  display: flex;
}
.con{
  word-spacing: 2px;
  padding-right: 3vw;
  padding-left: 6vw ;
}
.left{
  height: 70vh;
  width: 100%;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.col{
  color: #DE08EC;
}
.con{
  padding-top: 40vh;
  padding-right: 15vw;
}
.right{
  background-image: url(./Assets/coding_2.webp);
  height: 60vh;
  width: 60%;
  margin-top: 16vh;
  background-size: cover;
  border-radius: 0em 5em 5em 0em;
}
.right h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 35vh;
  margin-left: 2vw;
  line-height: 7vh;
  color: #EB0AF3;
}
.btn{
  margin-top: 5vh;
  margin-left: 23vw;
}
button{
  background-color:#37DCFF;
  top: -100px;
  padding: 10px 10px;
  border: solid 1px black;
  border-radius: 5px;
  transition: all ease .2s;
}
button:hover{
  background-color:  #EB0AF3;
  color: white;
  box-shadow: 5px 5px 0px white;
}
input{
  border: none;
  outline: none;
  background: transparent;
  font-size: medium;
}
/* About */
.About{
  margin-top: 100px;
}
.about{
  height: 100vh;
  width: 100%;
}
.gap{
  padding-top: 18vh;
}
.head-about{
  background-color: white;
  height: 75vh;
  width: 60%;
  border-radius: 0em 10em 10em 0em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 3px;
}
.about h1{
  padding-top: 6vh;
  padding-left: 20vw;
  color: #121778;
}
.about h2{
  padding: 2vh 5vw;
  line-height: 5.5vh;
  color: #121778;
}

/* Projects */
#Brand{
  height: 750px;
  width: 100%;
}
.space{
  height: 6vh;
  width: 100%;
}
.brand{
  margin-top: 20vh;
  margin-left: 50%;
  background-color: white;
  height: 60vh;
  width: 50%;
  border-radius: 10em 0em 0em 10em;
}
.brand h1{
  padding: 10vh 23vw;
  color: #EB0AF3;
}

.amazon{
  margin-left:14vh ;
  height: 10vh;
  width: 6vw;
}
.calculator{
  margin-left:10vw ;
  height: 10vh;
  width: 6vw;
}
.chatbot{
  margin-left:7vw ;
  height: 10vh;
  width: 6vw;
}
.object{
  margin-left:6.5vw ;
  height: 10vh;
  width: 6vw;
}
.Y:hover{
  height: 4.2em;
}
svg{
  padding-bottom: 20px;
}

.social-amazon{
  margin-left: 5vw;
  color: #EB0AF3;
}
.social-calculator{
  margin-left: 6.5vw;
  color: #EB0AF3;
}
.social-chatbot{
  margin-left: 5.5vw;
  color: #EB0AF3;
}
.social-object{
  margin-left: 6vw;
  color: #EB0AF3;
}

/* Login */
.login{
  height: 70vh;
  width: 30%;
  border: 1px solid rgb(223, 219, 219);
  margin-left: 35%;
  margin-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 1em;
}
.sign-in{
  padding-top: 2vh;
  padding-left: 12.5vw;
}
.use{
  padding-left: 7.8vw;
  padding-top: 1.2vh;
}
fieldset{
  margin-top: 4vh;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 5px;
  padding-bottom: 4px;
}
fieldset:hover{
  border:2px solid #1B66C9;
}
input{
  border: none;
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
}
input:hover{
  border: 1px solid transparent;
}
.forgot{
  margin-top: 10px;
  margin-left: 3vw;
  color: black;
}
.guest{
  margin-top: 4vh;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}
.create{
  margin-left: 3vw;
  color: black;
}
.create:hover{
  color:#1B66C9 ;
}
.next{
  margin-left: 12vw;
  padding: 1vh 1.6vw;
  color: white;
  background-color: #1B66C9;
}
.learn{
  color: black;
}
.learn:hover{
  color:#1B66C9 ;
}
.next:hover{
  cursor: pointer;
  background-color: #1269db;
  color: white;
}
.create-new{
  margin-top: 8vh;
}

/* field */
.back{
  padding-left: 1em;
  padding-top: 1em;
}
.c{
  padding-top: 8vh;
  padding-left: 9vw;
}

.sign{
  margin: 6vh 5vw;
  background-color: #1269db;
  color: white;
}
.cr{
  margin-left: 6vw; ;
  background-color: #1269db;
  color: white;
}
.sign:hover{
  background-color: #1B66C9;
  color: white;
}
.cr:hover{
  background-color: #1B66C9;
  color: white;
}

/* Services */

.Services{
  background-color: #F2F3F2;
  height: 100%;
  width: 100%;
  padding-left: 18vw;
  padding-right: 26vw;
}
body::-webkit-scrollbar{
  display: none;
}
.control-dots{
  top: 530px;
}
.Services-image-1{
  padding-left: 9vw;
  margin-top: 12vh;
  height: 110vh;
  width: 110vh;
}
.Services-image-2{
  margin-top: 22vh;
  padding-left: 8vw;
  height: 107vh ;
  width: 107vh;
  overflow: hidden;
}
.Services-image-3{
  margin-top: 20vh;
  padding-left: 6vw;
  height: 110vh;
  width: 110vh;
}
.coming{
  height: 100%;
  padding: 40vh 43%;
}


/* Footer */
.follow{
  text-align: center;
  padding-bottom: 2vh;
}
.facebook{
  padding-left: 44.8vw;
  padding-top: 4vh;
}
.instagram{
  padding-left: 2vw;
}
.linkedin{
  padding-left: 2vw;
}

@media (max-width:600px) {
  html , body{
    height: 100%;
    width: 100%;
 }

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration:none;
    scroll-behavior:smooth;
  }
  /* header */
  .navbar{
    height: 60px;
    width: 100%;
  }
  .logo{
    padding-left: 10px;
    height: 40px;
    width: auto;
  }
  .menuitem{
    display: none;
  }
  .bar{
    display: block;
    padding-left: 100px;
  }
  .footer{
    height: 50vh;
    width: 100%;
    background-color: white;
  }
  /* body */
  .item{
    height: 100vh;
    width: 100%;
  }
  .home{
    background-repeat: no-repeat;
    background-image: url("https://besthqwallpapers.com/Uploads/24-11-2021/184861/dark-blue-hexagon-background-blue-neon-lights-blue-hexagon-neon-background-hexagons-with-neon-lights-blue-3d-hexagon-background.jpg");
    height: 40vh;
    width: 100%;
    border-radius: 0 0 2em 2em;
    background-size: 250%;
  }
  .tech{
    color: #EB0AF3;
    padding-top: 30vh;
    padding-left: 73%;
    font-size: 1.3rem;
  }
  
  .techname{
    color: #EB0AF3;
    padding-left: 60%;
    font-size: .7rem;
  }
  /* Contact */
  .contact{
    width: 100%;
    height: 30vh;
    display: flex;
  }
  .left{
    background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/cute-little-kid-coding-on-laptop-4619253-3821966.png?f=webp");
    background-repeat: no-repeat;
    height: 22vh;
    width: 100%;
    margin-top: 2vh;
    margin-left: 2vw;
    background-size: cover;
    border-radius: 0em 5em 5em 0em;
  }
  .right{
    height: 20vh;
    width: 100%;
  }
  .right h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5vh;
    margin-left: 2vw;
    line-height: 2vh;
    color: #EB0AF3;
    font-size: 13px;
  }
  .btn{
    margin-top: 2vh;
    margin-left: 5vw;
  }
  button{
    background-color:#37DCFF;
    top: -100px;
    padding: 2px 2px;
    border: solid 1px black;
    border-radius: 5px;
    transition: all ease .2s;
  }
}

/* Students CV */

.students_cv{
  text-align: center;
}
.cv_space{
  padding: 5vh 5vw;
  font-size: larger;
}
.download{
  border-bottom: 3px solid red;
}